body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
}

h2 {
  text-align: center;
}

label {
  margin-right: 10px;
  font-weight: bold;
}

input {
  margin-right: 15px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
